.container {
    @apply flex flex-col justify-center items-center gap-4;
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center z-[1000];
}

.loader {
    @apply flex justify-center items-center;
}

.circle {
    @apply w-12 h-12 border-4 border-secondary-200 border-t-secondary-400 rounded-full;

    animation: spin 1s linear infinite;
}

.text {
    @apply text-xl font-medium m-0 tracking-wide text-secondary-400;

    animation: text-pulse 2s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes text-pulse {
    0%, 100% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }
}
